body, html
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: ;
}

.container
{
    width: 987px;
    display: table;
    padding-left: 480px;
    margin-top: 50px;
    
}

#forms
{
    width: 200px;
    float: left;
}

#message
{
    height: 150px;
    width: 250px;
}

#photo
{
    float: left;
    height: 350px;
    width: 330px;
}

#targets
{
    float: left;
}

#main
{
    float: right;
    width: 500px;
}
#high
{
    width: auto;
    height: 350px;
}



#down
{
    width: 1000px;
    height: 600px;;
}

#left
{ 
    padding-left: 500px;
    padding-top: 0px;
}

#right
{
    width: 65%;
    height: auto;
    padding-left: 60px;

}

#left, #right
{
    display: table-cell;
}

#left h2
{
    color: #15a98c;
    margin-top: 50px;
}

#first_ul li
{
    padding-top: 15px;
}

#second_ul li
{
    padding-top: 15px;
}

#quote 
{
    margin: 0;
    float: right;
    padding-top: 100px;
    
}

#quote p
{
   font-family: 'Georgia';
   color: #555555;
   font-size: 28px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    margin-top: -10px;
    
}

#quote h3
{
   font-family: 'Open Sans';
    font-weight: 600;
    color: #000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    margin-top: 30px;
   
}

#quote img
{
    width: 130px ;
    height: 80px;
    padding: 0;
    margin: 0;
}

#right h1
{
    margin: 0;
    padding: 0;
    margin-top: 150px;
    margin-left: 40px;
    margin-bottom: -20px;
}


#main_first
{
    margin-top: 40px;
    font-size: 18px;
}

#main_first p
{
    padding-top: 30px;
}

#main_second
{
    font-size: 18px;
}

#main hr
{
    width: 60px;
    height: 7px;
    border: 0;
    background-color: #45c3aa;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

#main h1 
{
    
}

#main h2
{
    margin:0;
    padding:0;
    margin-top: 30px;
}

#down a
{
    color: #15a98c;
    font-size: 20px;
}


