body, html
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


.background
{
  background-image: url(background_img/background_photo.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 1920px;
}

.container
{
  width: 987px;
  padding-left: 480px;
}

.photo
{
  float: left;
  height: 350px;
  width: 330px;
}

.targets
{
  float: left;
  margin-top: 35px;
}

.targets h2
{
  font: 500 26px 'Open Sans';
  margin:10px;
  color: #15a98c;
}

.main
{
  float: right;
  width: 500px;
  padding-right: 100px;
}

.high
{
  width: auto;
  height: 350px;
  padding-top: 200px;
}

.down
{
  width: 1000px;
  height: 750px;;
}

.first_ul li
{
  padding-top: 10px;
  font: 20px 'Georgia';
  color: #555555;
}

.second_ul li
{
  padding-top: 10px;
  font: 20px 'Georgia';
  color: #555555;
}

.second_ul
{
  margin-top: 50px;
}

.quote 
{
  margin: 0;
  float: right;
  padding-top: 50px;
  padding-right: 100px;  
  height: 300px;
}

.quote p
{
  font: 400 italic 28px 'Georgia';
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  margin-top: -10px;  
}

p.author
{
  font: 600 16px 'Open Sans';
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 77px;
  padding-top: 20px; 
}

.right h1
{
  margin: 0;
  padding: 0;
  margin-top: 150px;
  margin-left: 40px;
  margin-bottom: -20px;
}

.main_first
{
  font: 18px 'Georgia';
  margin-top: 40px;
  padding-top: 0px;
  line-height: 190%;
  color: #555555;
}

.main_second
{
  font: 18px 'Georgia';
  line-height: 190%;
  color: #555555;
}

.main hr
{
  width: 60px;
  height: 7px;
  border: 0;
  background-color: #45c3aa;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

.main_topic 
{
  font: 700 55px 'Open sans';
  margin-top: 35px;
  margin-bottom: 15px;
}

.second_topic
{
  font: 500 35px 'Open Sans';
  margin:0;
  padding:0;
  margin-top: 60px;
  color: black;
}

.down a
{
  color: #15a98c;
  font-size: 20px;
}

span
{
  color: #15a98c;
}

.footer
{
  height: 70px;
  font: 16px 'Regular';
  background-color: #f9f9f9;
  text-align: center;
}

.footer p 
{
  position: relative;
  top: 25px;
}
